/* PC */
@media (min-width: 64em) {
}
/* Tablet and Mobile */
@media (max-width: 63.9375em) {
  .sub-nav li a {
    padding: 12px 32px;
  }
  .contact-detail {
    margin-bottom: 16px;
    line-height: 2;
  }
  .btn,
  input {
    padding: 12px 16px;
  }
  #footer a i {
    margin: 0 4px;
    font-size: 28px;
  }
  .copyright a {
    padding: 8px 0;
  }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
/* Mobile */
@media (max-width: 46.1875em) {
  /* Common */
  .s-mt-16 {
    margin-top: 16px;
  }
  .s-col-full {
    width: 100% !important;
  }
  /* Main */
  #header {
    overflow: hidden;
  }
  .nav,
  .nav li,
  .nav li a,
  .btn-mobile-menu {
    display: block;
  }
  .nav > li:first-child {
    display: inline-block;
  }
  .btn-search {
    display: none;
  }
  .sub-nav {
    position: initial;
    background-color: #000;
  }
  .sub-nav li a {
    color: #fff;
  }
  .slider-text {
    padding: 8px 0;
    width: 100%;
  }
  .slider-heading,
  .slider-desc {
    margin: 0 !important;
  }
  .member-img {
    width: 60%;
  }
}
